body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0.85);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.container {
    width: 400px;
    margin: 60px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.delete-button {
    
    color: #EF5350;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;

}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: #2a2a2a;
    color: white;
}

button {
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    background: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #43af50;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    background: #2a2a2a;
    margin-bottom: 8px;
}

.delete-button:hover {
    color: #ff1744;
}
